html {
  font-size: 17px;
}

body {
  font-family: "Montserrat", sans-serif;
  color: #000;
  width: 375px;
}

h1 {
  font-size: 1.802rem;
}

h2 {
  font-size: 1.602rem;
}

h3 {
  font-size: 1.424rem;
}

h4 {
  font-size: 1.266rem;
}

h5 {
  font-size: 1.125rem;
}

p {
  font-size: 1rem;
}

/* Styles for Hero */
.hero {
  max-width: 375px;
  max-height: 375px;
  margin-bottom: 30px;
}

#mainProfile {
  width: 375px;
  height: 350px;
}

#ownerprofile {
  position: absolute;
  width: 95px;
  height: 95px;
  top: 285px;
  left: 264px;
}

/* Styles for Summary Section */
.topSummarySection {
  width: 375px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 0 0 24px 0;
  padding: 0 16px;
}

.leftInfoSummary {
  display: flex;
  flex-direction: column;
  align-items: left;
  margin: 0;
  padding: 0;
}

.ownerName {
  margin: 0;
  padding: 0;
}

.dogName {
  display: flex;
}

.dogName h3 {
  margin-bottom: 2px;
}

.dogAge p {
  margin: 0;
}

.verified-icon-l0x9hJ {
  background-color: transparent;
  height: 33px;
  width: 31px;
}

.small {
  font-size: 0.889rem;
  color: #828282;
}

.middleSummarySection {
  display: flex;
  justify-content: space-around;
  margin: 0 16px 24px 16px;
}

.middleSummarySection p {
  margin: 0;
  text-align: center;
}

.bottomSummarySection {
  margin: 0 16px 24px 16px;
}

.outlineBtn {
  width: 150px;
  height: 48px;
  border-radius: 25px;
  background-color: #fff;
  color: #233D4D;
  margin: 8px;
}

.btnImage {
  width: 21px;
  height: 14px;
  margin-left: 4px;
}

/* Styles for Bio */
#bio-section {
  margin: 0 16px 24px 16px;
}

/* Style Info Buttons */
.profileInfoBtns {
  height: 48px;
  width: 117px;
  border-radius: 15px;
  border: none;
  margin: 4px;
  padding: 0;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

#healthBtn {
  background-color: #FCCA46;
}

#trainingBtn {
  background-color: #F4A261;
}

#generalBtn {
  background-color: #2A9D8F;
}

#ownerBtn {
  background-color: #E76F51;
}

#buttonContainer {
  padding: 0;
  margin: 0;
  overflow-x: auto;
}

#buttonCarousel {
  width: 131%;
  margin: 0 0 24px 0;
  padding: 0;
  display: flex;
  list-style: none;
}

/* Hide scrollbar for Chrome, Safari and Opera */
#buttonContainer::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
#buttonContainer {
  -ms-overflow-style: none;
  /* IE and Edge */
  scrollbar-width: none;
  /* Firefox */
}



/* Style Modals */
.modalCards {
  /* display: none; */
  /* width: 100vw;
  height: 100vh; */
  /* z-index: 1; */
}

.profileModal {
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
  width: 375px;
  height: 100%;
  background-color: #00000066;
  animation: fadein 500ms;
}

#healthModal,
#trainingModal,
#generalModal,
#ownerModal {
  display: none;
  /* border: 1px solid blue; */
}

.profileModal h3 {
  font-weight: 700;
  margin: 0;
}

.profileModal p {
  margin-top: 1rem;
  margin-bottom: 0;
}

.modalContent {
  /* border: 1px solid orange; */
  background-color: #fff;
  width: 91.5%;
  border-radius: 15px;
  margin: 40% auto;
  padding: 16px;
  box-shadow: 0px 4px 20px rgba(9, 44, 76, 0.16);
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.close {
  color: #000;
  float: right;
  font-size: 2rem;
  font-weight: 400;
}

/* Styles for Gallery */
.gallery {
  width: 375px;
  display: grid;
  grid-template-columns: 164px 164px;
  grid-template-rows: 1fr 1fr 1fr 1fr;
  justify-items: center;
  width: max-content;
  margin: 0 16px 60px 16px;
  column-gap: 16px;
  row-gap: 16px;
}

.gallery img {
  width: 100%;
  height: 100%;
  border-radius: 8px;
  object-fit: cover;
  filter: drop-shadow(0px 2px 2px rgba(0, 0, 0, 0.25));
}

/* Styles for bottom nav */
.navbar {
  bottom: 0;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  width: 100%;
  padding-bottom: 20px;
  background-color: #fff;
}

#home-icon {
  width: 28px;
  height: 28px;
}

#messages-icon {
  width: 18px;
  height: 17px;
}

#new-post {
  width: 28px;
  height: 28px;
}

#notifications {
  width: 28px;
  height: 28px;
}

#profile {
  width: 28px;
  height: 28px;
}