.hero{
    max-width: 375;
    max-height: 350;
}
.bio-section{
    max-width: 375;
    max-height: 230;
    padding: 20px;
    justify-content: center;
}
.p{
    font-size: 17px;
}
.ownerprofile{
    position:absolute;
    top:285px;
    left:250px;
}